@import '../App/сolors';

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked {
    & + .radio-label {
      color: $black;

      &::before {
        border-color: $accent;
        box-shadow: inset 0px 0px 0 3px $accent;
      }
    }
  }
  &:not(:checked) {
    & + .radio-label {
      &:hover {
        &::before {
          box-shadow: inset 0px 0px 0 1px $black;
        }
      }
    }
  }
}

.radio-label {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  color: $gray;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 12px;
    height: 12px;
    box-shadow: inset 0px 0px 0 1px $gray;
    border-radius: 50%;
  }
}
