$accent: #0ec261;
$black: #121212;
$gray: #999999;
$gray-light: #eeeeee;

$button-color-from: #0ec261;
$button-color-to: #039f67;

$slider-1-left: #13493f;
$slider-1-right: #0c7b1b;
$slider-2-left: #132949;
$slider-2-right: #0c7b67;
$slider-3-left: #493013;
$slider-3-right: #7b0c3b;
$slider-4-left: #281349;
$slider-4-right: #720c7b;

$button-deny-left: #493013;
$button-deny-right: #7b0c3b;
