@import '../App/сolors';

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: $accent;
  }
  &__city {
    font-size: 14px;
    color: $gray;
    position: relative;

    &::before {
      content: url(../../assets/vector/icon-map.svg);
      position: absolute;
      left: -24px;
      top: -2px;
    }
  }
}

@import './medias';
